    <div id="instagram">
        <a href="https://www.instagram.com/minionnation/?hl=en"><img src="/assets/instagram.png"/  alt="Name of site"></a>
    </div>

    

    <div class="container">
        <a href= "https://www.youtube.com/watch?v=k1kAKx_1JLE" <button class="btn-blue" type="button">PLAY MUSIC HARD</button></a> 
    </div> 


    <div id="facebook">
        <a href="https://www.facebook.com/LesMinions.LeFilm/?brand_redir=116750598347194"><img src="/assets/facebook.png"/  alt="Name of site"></a>
    </div> 
