<nav class="navbar">
    <div nav class="logo">
        <img src="/assets/logo-[hash].png"/ class="logo" alt="logo">  
    </div> 

    <div class="dropdown">  
    <img src="/assets/avatar.png"/ class="avatar" alt="avatar">  

  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>

</div>
</nav>


    